@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    --bg-color: #050504;
    --box-color: #181816;
    --highlight-box-color: #fffff640;
    --border-color: #fffff610;
    --highlight-border-color: #fffff640;
    --white-text-color: #fffff6;
    --gray-text-color: #fffff640;
    --accent-color: #ff5100;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white-text-color);
    background-color: var(--bg-color);
    margin: 0;
    /*width: 100vw;
    height: 100vh;
    transform: translate(10px, 0);*/
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0px 20px;
    color: var(--white-text-color);
}

#home .date {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

#home .label {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#home .center {
    text-align: center;
}

#home .radial-progress {
    display: block;
    text-align: center;
    align-self: center;
    border-radius: 50%;
    background-color: var(--white-text-color);
    background: conic-gradient(var(--white-text-color) 0% 30%, var(--box-color) 30% 100%);
    width: 45vw;
    height: 45vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

#home .radial-progress::before {
    content: "";
    position: relative;
    display: block;
    width: 41vw;
    height: 41vw;
    background-color: var(--bg-color);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home .progress-value {
    position: relative;
    top: -105%;
    /*align-self: center;
    justify-self: center;
    text-align: center;*/
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

#home .info-text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--white-text-color);
}

#home .line {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background-color: var(--highlight-border-color);
    /*background: linear-gradient(to right, var(--border-color), var(--highlight-border-color), var(--border-color));*/
    margin-bottom: 35px;
}

#home .weekly-schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#home .day {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--gray-text-color);
    background-color: var(--box-color);
    border: 1px solid var(--border-color);
    width: 40px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#home .current {
    color: var(--white-text-color);
    background-color: var(--highlight-box-color);
    border: 1px solid var(--highlight-border-color);
}

#home .marker {
    position: relative;
    left: 50%;
    transform: translate(-50%, -30%);
    margin-top: 0px;
    width: 10px;
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 5px;
}

#home .marker.orange {
    background-color: #ff5100;
}

#home .marker.blue {
    background-color: #2290d0;
}

#home .marker.green {
    background-color: #45b545;
}

.block {
    width: 100%;
    height: 83px;
    background-color: var(--box-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.block .marker-bar {
    position: relative;
    left: 20px;
    top: 30px;
    transform: translate(-50%, -30%);
    margin-top: 0px;
    width: 10px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 5px;
}

.block .workout-title {
    position: relative;
    left: 40px;
    top: -32px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--white-text-color);
}

.block .workout-info-text {
    position: relative;
    text-align: left;
    left: 40px;
    top: -40px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--gray-text-color);
}