@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    overscroll-behavior-y: none;
}

body {
    background-color: #08080a;
    color: #f0f0f2;
    font-family: Prompt, sans-serif;
    overscroll-behavior-y: none;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-menu {
    position: fixed;
    width: 100%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(#0c0c0e, #08080a);
    padding-bottom: 10px 20px;
    padding-top: 15px;
    border-radius: 0px;
    border-top: 1px solid #f0f0f230;
    display: flex;
    gap: 30px;
    justify-content: center;
    z-index: 1000;
}

.nav-menu a {
    transition: opacity 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
    color: #f0f0f2;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.33;
    cursor: pointer;
}

.nav-menu a.active {
    opacity: 1;
    text-shadow: #f0f0f290 0px 0px 16px;
}

section {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 85vh;
    width: 100vw;
}

section.active {
    display: block;
}

.content {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}

h3 {
    color: #f0f0f2;
    margin: 0 20px;
    font-weight: 500;
    font-size: 22px;
}

.title {
    display: inline-block;
}

.profile-label {
    float: right;
    font-weight: 300;
    opacity: 0.6;
    letter-spacing: 1px;
}

.info-box {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(#1c1c1f, #1c1c1f);
    border-radius: 25px;
    border-top: 1px solid #c0c0c520;
    border-bottom: 1px solid #00000010;
    color: #f0f0f2;
}

.wide {
    grid-column: span 2;
    grid-row: span 1;
}

.info-box .label {
    font-size: 12px;
    margin: 0;
    margin-bottom: -5px;
    opacity: 0.6;
}

.info-box .value {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 28px;
    margin: 0 0 5px 0;
    display: inline-block;
}

.info-box .unit {
    display: inline-block;
    font-size: 16px;
    margin: 0 0 10px 5px;
    opacity: 0.6;
    vertical-align: bottom;
}

.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10px repeat(5, 15px);
    gap: 12px;
    margin-top: 20px;
}

.calender .day-label {
    font-size: 10px;
    opacity: 0.4;
    text-align: center;
}

.calender .square {
    justify-self: center;
    width: 100%;
    height: 80%;
    background: linear-gradient(#303034, #303034);
    border: 1px solid #f0f0f210;
    border-radius: 10px;
}


.calender .square.filled {
    background: linear-gradient(#f0f0f2, #f0f0f2);
    border: 1px solid #f0f0f2;
    box-shadow: 0 0 16px 0px #f0f0f230;
}

.schedule-min {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 15px 70px;
    gap: 10px;
    margin-top: 20px;
}

.schedule-min .day-label {
    font-size: 10px;
    opacity: 0.4;
    text-align: center;
}

.schedule-min .off-day {
    width: 2px;
    border-radius: 1px;
    height: 100%;
    background-color: #f0f0f260;
    justify-self: center;
}

.schedule-min .work-day {
    width: 25px;
    border-radius: 5px;
    height: 100%;
    background: linear-gradient(#f0f0f2, #f0f0f2);
    box-shadow: 0 0 16px 0px #f0f0f230;
    justify-self: center;
}

.start-workout {
    grid-column: span 2;
    grid-row: span 1;
    margin: auto;
    width: 100%;
    padding: 15px 10px;
    background: linear-gradient(#1c1c1f, #1c1c1f);
    border: none;
    border: 2px solid #c0c0c540;
    outline: none;
    box-sizing: border-box;
    border-radius: 20px;
    color: #f0f0f2;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    cursor: pointer;
    inset: none;
}

.schedule {
    display: grid;
    grid-template-rows: repeat(7, 45px);
    grid-template-columns: 10px auto 5px;
    column-gap: 30px;
    row-gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.schedule .day-label {
    font-size: 10px;
    opacity: 0.4;
    text-align: center;
}

.schedule .off-day {
    width: 2px;
    border-radius: 1px;
    width: 100%;
    height: 1px;
    background-color: #f0f0f260;
    justify-self: center;
}

.schedule .work-day {
    width: 25px;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    color: #f0f0f2;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
}

.work-day .highlight {
    margin: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(#31e981, #6eeaa4);
    box-shadow: 0 0 16px 0px #31e98160;
    border-radius: 2px;
    margin-right: 10px;
    float: left;
}

.work-day label {
    font-size: 12px;
    opacity: 0.6;
}

.edit-btn {
    background: transparent;
    outline: none;
    border: none;
    color: #f0f0f2;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;
    opacity: 0.6;
    cursor: pointer;
    justify-self: center;
    text-decoration: underline;
}