@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    overscroll-behavior-y: none;
}

body {
    background-color: black;
    color: white;
    font-family: Prompt, sans-serif;
    overscroll-behavior-y: none;
    margin: 0;
}

.nav-menu {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(#161616, #080808);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ffffff30;
    display: flex;
    gap: 30px;
    z-index: 1000;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.6;
    cursor: pointer;
}

.nav-menu a.active {
    opacity: 1;
    text-shadow: #ffffff 0px 0px 8px;
}

section {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 85vh;
    width: 100vw;
}

section.active {
    display: block;
}

.content {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

.info-box {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(#161616, #080808);
    border-radius: 20px;
    border: 1px solid #ffffff30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.wide {
    grid-column: span 2;
    grid-row: span 1;
}

.info-box .label {
    font-size: 12px;
    margin: 0;
    margin-bottom: -5px;
    opacity: 0.6;
}

.info-box .value {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 28px;
    margin: 0 0 5px 0;
    display: inline-block;
}

.info-box .unit {
    display: inline-block;
    font-size: 16px;
    margin: 0 0 10px 5px;
    opacity: 0.6;
    vertical-align: bottom;
}

.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10px repeat(5, 20px);
    gap: 10px;
    margin-top: 20px;
}

.calender .day-label {
    font-size: 10px;
    opacity: 0.4;
    text-align: center;
}

.calender .square {
    width: 100%;
    height: 100%;
    background: linear-gradient(#161616, #1d1d1d);
    border: 1px solid #ffffff10;
    border-radius: 5px;
}


.calender .square.filled {
    background: linear-gradient(#31e981, #6eeaa4);
    border: 1px solid #6eeaa4;
    box-shadow: 0 0 16px 0px #31e98160;
    border-radius: 5px;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10px 70px;
    gap: 10px;
    margin-top: 20px;
}

.schedule .day-label {
    font-size: 10px;
    opacity: 0.4;
    text-align: center;
}

.schedule .off-day {
    width: 2px;
    border-radius: 1px;
    height: 100%;
    background-color: #ffffff60;
    justify-self: center;
}

.schedule .work-day {
    width: 25px;
    border-radius: 5px;
    height: 100%;
    background: linear-gradient(#31e981, #6eeaa4);
    box-shadow: 0 0 16px 0px #31e98160;
    justify-self: center;
}

.start-workout {
    grid-column: span 2;
    grid-row: span 1;
    margin: auto;
    width: 60%;
    padding: 15px 10px;
    background: linear-gradient(#161616, #080808);
    border: 1px solid #ffffff30;
    outline: none;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    cursor: pointer;
    inset: none;
}